<div style="color: aliceblue; background-color: #7d40e7; padding: 15px; border-bottom: #5c2bb1 5px solid;">
	<h1>Notificação de Cancelamento</h1>
</div>

<div style="padding: 10px 20px;">
	<strong>Olá, {{ name }}</strong>

	<p>Foi efetuado um cancelamento:</p>
	<strong>Produto:</strong> {{ product }}<br>
	<strong>Destinatário:</strong> {{ street }}, {{ number }} {{ city }} - {{ state }}, {{ country }}<br>
	<strong>CEP:</strong> {{ zip_code }}<br><br>
	<strong>Hora do cancelamento:</strong> {{ date }}<br>
	<strong>Descrição:</strong> {{ description }}
</div>
